{% extends ':layouts:base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block main_content %}
	
	
	{% if response %}
	<div id="response" action="sorting" isbn="{{ isbn }}">
		<input type="hidden" id="stock_book" value="{{ response.stock_book }}">
		<input type="hidden" id="count_cart" value="{{ response.count_cart }}">
	</div>
	{% endif %}


{% endblock %}
