{% extends "base.html.twig" %}

{# titre de la page dans head #}
{% block title %} Mot de passe oublié | Système de tickets de l'agence{% endblock %}   
{# contenu du body #}
{% block body %}

<h1>Mot de passe oublié?</h1>

{{ form( forgotPwdForm1 ) }}




{% endblock %}

    
