<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bdloc !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <header>
         {% include ':layouts:nav.html.twig' %}
         {% include ':layouts:login.html.twig' %}
    </header>
    <body>
        {% block main_content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
