	<form action="{{ path('login_check') }}" method="post">

	    <div class="form-group">
	    	<label class="control-label" for="username">Login :</label>
	    	<input  class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
		</div>

		<div class="form-group">
		    <label class="control-label" for="password">Mot de passe :</label>
		    <input  class="form-control" type="password" id="password" name="_password" />
		</div>

		<div class="form-group">
	    	<input  class="form-control" type="hidden" name="_target_path" value="/catalogue" />
		</div>	   

		<div class="">
	    <button class="btn" type="submit">login</button>
		</div>

		<div class="form-group">
	    	<a href="{#{ path('bdloc_app_security_login') }#}" title="Mot de passe oublié">Mot de passe oublié</a>
		</div>
		{% if error %}
	    {{ error.message }}
		{% endif %}
	</form>
