<<<<<<< HEAD
<nav id="nav">
	<a href="{#{ path('bdloc_app_default_catalogue') }#}">Catalogue</a>
=======
<nav>
	<a href="{{ path('bdloc_app_default_home') }}">Accueil</a>
	<a href="{{ path('bdloc_app_catalogue_catalogueall') }}">Catalogue</a>
>>>>>>> a809ee65495fb84e7fc7003c06e1aa98f1e870b8
	<a href="{#{ path('bdloc_app_default_cart') }#}">Panier</a>
</nav>

