<nav>
	<a class="cat" href="{{ path('bdloc_app_catalogue_catalogueall') }}" title="Catalogue">Catalogue</a>

	<a class="panier" href="{#{ path('bdloc_app_default_cart') }#}" title="Panier">Panier</a>
</nav>

