<nav>
	<a href="{{ path('bdloc_app_default_home') }}">Accueil</a>
	<a href="{{ path('bdloc_app_catalogue_catalogueall') }}">Catalogue</a>

	<a href="{#{ path('bdloc_app_default_cart') }#}">Panier</a>
</nav>

