<nav>
	<a href="{#{ path('bdloc_app_default_home') }#}">Contact</a>
	<a href="{#{ path('bdloc_app_default_catalogue') }#}">F.A.Q</a>
	<a href="{#{ path('bdloc_app_default_cart') }#}">Mentions légales</a>
	<a href="{#{ path('bdloc_app_default_account') }#}">Mon compte</a>
</nav>

