body
	font 300 2em/2em Oswald
	margin 0
	padding 0
	color #fff
	background url('../img/fond_bd.png') no-repeat 0 0 #000
	
#header
	position relative
	height 81px
	background-color #222222

	
	
#header
	#logo
		position absolute

header
	nav
		line-height 81px
						
#header
	#nav
		a
			font 300 1em/1em Oswald
			color #fff
			text-transform uppercase
			margin-right 5px
			
			&::before
				content \e008		
			
#header
	#connexion
		display block
		font 300 1em Oswald
		color #fff
		line-height 81px
		text-align right


		
		
	

		
		

	