/*font-family: 'Open Sans', sans-serif;*/
body {
  font: 300 2em/2em Oswald;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  background: url("../img/fond_bd.png") no-repeat top center #000;
  background-size: contain;
}
/****************************************
*****************************************
************** HEADER *******************
*****************************************
****************************************/
#header {
  position: relative;
  height: 81px;
  background-color: #222;
}
#header #logo {
  position: absolute;
}
header nav {
  line-height: 81px;
}
header nav a {
  font: 300 1em/1em Oswald;
  color: #fff;
  text-transform: uppercase;
  margin-right: 20px;
}
#connexion::before {
  font: 0.9em Glyphicons Halflings;
  content: "\e008";
  margin-right: 10px;
}
#header a#connexion {
  display: block;
  font: 300 1em Oswald;
  color: #fff;
  text-transform: uppercase;
  line-height: 81px;
  text-align: right;
  text-decoration: none;
}
#header a#connexion:hover {
  color: #e90000;
  transition-duration: 0.2s;
}
#header #deconnexion::before {
  font: 300 1em Oswald;
  color: #fff;
  line-height: 81px;
}
/****************************************
*****************************************
************** MAIN HOME ****************
*****************************************
****************************************/
#location {
  display: block;
  text-align: center;
  margin-top: 8%;
}
#location h1 {
  font: 700 2.2em Oswald;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2.5px 4.33px 5px #231f20;
}
#location h2 {
  font: 700 2em Oswald;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2.5px 4.33px 5px #231f20;
  margin-top: -11px;
}
#location p {
  font: 700 1em Oswald;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2.5px 4.33px 5px #231f20;
}
a.subscribe {
  display: block;
  margin: 27px auto;
  width: 158px;
  height: 55px;
  background-color: #e90000;
  font: 700 0.9em Oswald;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #fff;
  line-height: 53px;
}
.subscribe {
  position: relative;
}
.subscribe::before {
  content: "";
  position: absolute;
  left: -10px;
  border-left: 10px solid transparent;
  border-bottom: 55px solid #e90000;
}
.subscribe::after {
  content: "";
  position: absolute;
  right: -10px;
  border-right: 10px solid transparent;
  border-top: 55px solid #e90000;
}
/****************************************
*****************************************
************** FOOTER *******************
*****************************************
****************************************/
#footer {
  bottom: 0;
  position: absolute;
  margin-top: 50px;
  margin-bottom: 15px;
  width: 100%;
}
#nav {
  float: left;
  margin-left: 15px;
}
.cat {
  font: 300 1em Oswald;
  color: #fff;
  margin-right: 45px;
}
.cat::before {
  font: 0.9em Glyphicons Halflings;
  content: "\e043";
  margin-right: 10px;
}
.cat:hover {
  text-decoration: none;
  color: #e90000;
}
.panier {
  font: 300 1em Oswald;
  color: #fff;
  margin-right: 45px;
}
.panier::before {
  font: 0.9em Glyphicons Halflings;
  content: "\e116";
  margin-right: 10px;
}
.panier:hover {
  text-decoration: none;
  color: #e90000;
}
#petitlogo {
  position: absolute;
  margin: 0 auto;
  left: 45%;
}
#copyright {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}
#copyright p {
  font: 300 0.8em Oswald;
  color: #999;
}
/****************************************
*****************************************
************** SUBSCRIBE  ****************
*****************************************
****************************************/
.steps {
  position: relative;
  margin: 101px auto 40px;
  text-align: center;
}
.steps .tab {
  position: relative;
  display: inline-block;
  height: 55px;
  margin-right: 15px;
  padding: 0 15px 0 15px;
  background-color: #e90000;
  font: 700 0.9em Oswald;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 53px;
}
.steps .tab::before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-bottom: 55px solid #e90000;
}
.steps .tab::after {
  content: "";
  position: absolute;
  border-right: 10px solid transparent;
  border-top: 55px solid #e90000;
}
.steps .tab a {
  color: #fff;
  text-decoration: none;
}
.tab1::before {
  left: -10px;
}
.tab1::after {
  right: -10px;
}
.tab2::before {
  left: -10px;
}
.tab2::after {
  right: -10px;
}
.tab3::before {
  left: -10px;
}
.tab3::after {
  right: -10px;
}
.steps .on {
  text-shadow: 1px 1px 1px #c01616;
}
.steps .off {
  background-color: #444;
  color: #666;
}
.steps .off::before {
  border-bottom: 55px solid #444;
}
.steps .off::after {
  border-top: 55px solid #444;
}
.steps .ok {
  background-color: #9d0c0c;
  color: #fff;
}
.steps .ok::before {
  border-bottom: 55px solid #9d0c0c;
}
.steps .ok::after {
  border-top: 55px solid #9d0c0c;
}
.steps .ok:hover {
  cursor: pointer;
  opacity: 0.6;
  transition-duration: 0.2s;
}
/****************************************
*****************************************
********** Register form ****************
*****************************************
****************************************/
#formRegister {
  width: 701px;
  margin: auto;
}
#formRegister .champs {
  float: left;
  width: 335px;
  margin-right: 10px;
}
#formRegister .champs ::-webkit-input-placeholder {
  color: #84807d;
  text-transform: uppercase;
  font-weight: 700;
}
#formRegister .champs input[type='text'] {
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
}
#formRegister .champs input[type='email'] {
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
}
#formRegister .champs input[type='password'] {
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
}
.form-control {
  height: 44px;
  font-size: 17px;
}
.form-control:focus {
  border-color: #e90000;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(233,0,0,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(233,0,0,0.6);
}
.valider {
  background-color: #e90000;
  height: 39px;
  font: 700 0.9em Oswald;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #fff;
  margin-left: 42%;
}
.valider:hover {
  cursor: pointer;
  color: #fff;
  opacity: 0.6;
  transition-duration: 0.2s;
}
#abonnement {
  position: relative;
}
#halo {
  position: absolute;
  margin: 0 auto;
  z-index: -10;
  height: 804px;
  width: 1303px;
  background: url("../img/halo.png");
  top: -182px;
  left: 14%;
}
/****************************************
*****************************************
********** Step points relais  **********
*****************************************
****************************************/
#map {
  position: relative;
}
/****************************************
*****************************************
************** CATALOGUE  ***************
*****************************************
****************************************/
/****************************************
******** FILTRES RECHERCHE  *************
****************************************/
#titre {
  margin-top: 45px;
  font: 300 1.5em Oswald;
  color: #e90000;
}
#form_filter_pages {
  float: left;
  margin-top: 10px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
#form_filter_pages .genres {
  float: left;
  width: 285px;
  letter-spacing: 0.06em;
  margin-bottom: -10px;
}
#form_filter_pages .genres label {
  font: 300 0.9em Oswald;
  color: #f4eeeb;
}
.form-group {
  margin-left: 10px;
}
#selecteur {
  display: block;
  clear: both;
  padding-top: 30px;
}
#selecteur .form-group {
  float: left;
}
#selecteur .form-group select {
  font: 300 0.8em Oswald;
  color: #444;
  height: 30px;
  text-decoration: none;
}
#selecteur .form-group input[type="submit"] {
  height: 30px;
  margin-top: 8px;
  background-color: #e90000;
  border: none;
  line-height: 0.8em;
}
#selecteur .form-group input[type="submit"]:hover {
  cursor: pointer;
  color: #fff;
  opacity: 0.6;
  transition-duration: 0.2s;
}
/****************************************
************ Afficher BDs  **************
****************************************/
/*#livre
	float left
	margin-right 30px
	width 340px
	background-color rgba(41, 41, 41, 0.9)
	margin-bottom 30px

	#imgBd
		text-align center
		width 300px
		height 397px
		overflow hidden
		text-align center
		margin auto
		overflow hidden
		padding 22px 0 0 0
		
	
	#infosBd
		margin auto
		padding-left 22px
		
		.title
			font 300 1.2em Oswald
			line-height 0.5em
			color text
			
		.serie
			display inline-block
			font 300 0.9em Oswald
			color text
			
		.tome
			display inline-block
			font 300 0.9em Oswald
			color tome
			
		.link_detail_book
			font 300 0.7em Oswald
			color coloron
			&::before
				font 0.8em Glyphicons Halflings
				content  "\2b"
				margin-right 5px
	
	#btnAjouter
		a.link_cart_book
			text-align center
			background-color red
			font 300 0.8em Oswald
			letter-spacing 0.07em
			text-transform uppercase
			color white
			line-height 53px
			padding 10px	
			border-radius 5px
			text-decoration none
			&::before
				font 0.9em Glyphicons Halflings
				content "\e008"
				margin-right 10px
			&:hover
				cursor pointer
				color white
				background-color colorok
				transition-duration 0.2s*/
/****************************************
************ Afficher BDs New  **************
****************************************/
.view {
  width: 300px;
  height: 400px;
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
}
.view .mask img,
width 300px img,
height 400px img,
position absolute img,
overflow hidden img,
top 0 img,
left 0 img,
.view img img,
display block img,
position relative img,
.view h2 img,
text-transform uppercase img,
color #fff img,
text-align center img,
font-size 17px img,
padding 10px img,
background rgba(0 img,
0 img,
0.8) img,
margin 20px 0 0 0 img,
.view-fifth img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
