{% extends "layouts/base.html.twig" %}

{# titre de la page dans head #}
{% block title %} Abonnement | Bdloc {% endblock %}   


{# contenu du body #}

{% block main_content %}
    <h1>S'abonner</h1>
    
	<h2>Infos personnelles - Etape 1</h2>
    
{% endblock %}




    
