{% extends "layouts/base.html.twig" %}


{# titre de la page dans head #}
{% block title %} Abonnement | Bdloc {% endblock %}   

{% block main_content %}
<div class="container">
	<div class="steps">
	    <ul class="stepsRegister">
	    	<li class="tab tab1 ok"><a href="{{ path("bdloc_app_subscribe_registerstep1")}}">1. Infos personnelles</a> > </li>
	    	<li class="tab tab2 ok"><a href="{{ path("bdloc_app_subscribe_registerstep2") }}">2. Choisir un point relais</a> > </li>
	    	<li class="tab tab3 on">3. Paiement </li>

	    </ul>
	</div>

	<div id="paypal">
		<h1>Paiement sécurisé par Paypal ou pas du tout !</h1>
		<img src="{{ asset("img/paypal.png" )}}" alt="logo paypal">
		<p class="info">Vous n'avez pas de compte paypal enregistré. </p>
		<a href="https://www.paypal.com/login" target="_blank" class="btn btn-success">Je me connecte à mon compte Paypal</a>
	</div>

	<div class="clearfix"></div>
</div>

{% endblock %}

    
