{% extends "layouts/base.html.twig" %}

{# titre de la page dans head #}
{% block title %} Abonnement | Bdloc {% endblock %}   


{# contenu du body #}

{% block main_content %}
    <h1>S'abonner</h1>
    
    <ul class="stepsRegister">
    	<li>1. Infos personnelles > </li>
    	<li class="disable">2. Points relais > </li>
    	<li class="disable">3. Paiement </li>
    </ul>

<div class="row clearfix">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">{{ form( registerForm ) }}</div>
	<div class="col-xs-4"></div>
</div>
{% endblock %}



{% block javascripts %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script type="text/javascript" src="{{ asset('js/address.js') }}"></script>

{% endblock %}


    
